.Header {
    text-align: center;
    background-color: #333333;
    height: 70px;
    color:rgb(206, 205, 205);
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    padding-left: 0px;
}

div{
    margin-top: 17.5px;
    padding-left: 20px;
    display: inline-block;
}
.Options{
    padding-left: 10px;
    text-align: left;
    width: 50%;
    padding-top: 19px;
    font-size: 20px;
}
.Option{
    padding-right: 15px;
}
.Option:hover{
    color:#ffffff
 }

.IconGrid{
    margin-top: 0!important;
    padding-right: 10px;
    width: 50%;
    position: inherit;
    text-align: end;
}
.TypeIcon{
    padding-top: 22.5px;
    color: #ffffff;
    margin-right: 20px;
    font-size: 26px;

}